@page "/contacts"
@attribute [Authorize]

@inject IContactDTOService ContactService
@inject ICategoryDTOService CategoryService
@inject NavigationManager Nav
@rendermode InteractiveWebAssembly

<PageTitle>Cloud Contacts | Contacts</PageTitle>

<div class="d-flex align-items-center mt-3">
    @if (!string.IsNullOrWhiteSpace(SearchTerm))
    {
        <h1>Search results for "@SearchTerm"</h1>
    }
    else if(CategoryId is not null or 0)
    {
        <h1>Category: @(categories.FirstOrDefault(c => c.Id == CategoryId)?.Name)</h1>
    }
    else
    {
        <h1>All Contacts</h1>
    }

</div>

<div class="d-flex align-items-center mt-3 mb-3">
    <a href="contacts/create" class="ms-auto btn btn-primary rounded-pill">New Contact</a>
</div>

<div class="row g-3">
    <div class="col-12 col-lg-4">
        <div class="sideNav mb-3">
            <form @onsubmit="HandleSearch">
                <div class="input-group">
                    <InputText @bind-Value="searchInput" class="form-control" placeholder="Search" />
                    <button class="btn btn-primary">Search</button>
                </div>
            </form>
            <div class="mt-5">
                <label class="form-label">Category Filter</label>
                <InputSelect class="form-select" @bind-Value="CategoryId" @bind-Value:after="HandleCategoryChanged">
                    <option value="">All Contacts</option>
                    @foreach (CategoryDTO category in categories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </InputSelect>
            </div>
        </div>

        @if (!string.IsNullOrEmpty(toastMessage))
        {
            <ToastMessage @key="messageId"
                          Message="@toastMessage"
                          Color="@messageColor" />
        }
    </div>
    <div class="col-12 col-lg-8">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-1 g-3">
            @if (contacts.Any())
            {
                @foreach (ContactDTO contact in contacts)
                {
                    <div class="col" @key="contact.Id">
                        <ContactCard 
                            OnDelete="DeleteContact"
                            Contact="contact" 
                        />
                    </div>
                }

            }
            else
            {
                <div>
                    <h4>No Contacts found!</h4>
                    <p>
                        Add some contacts <a href="contacts/create">here</a>?
                    </p>
                </div>
            }

        </div>
    </div>
</div>



@code {
    #region parameter
    [CascadingParameter]
    private Task<AuthenticationState>? AuthStateTask { get; set; }

    [SupplyParameterFromQuery]
    public int? CategoryId { get; set; }

    [SupplyParameterFromQuery]
    public string? SearchTerm { get; set; }

    [SupplyParameterFromQuery] // ?message=hello
    public string? Message { get; set; }
    #endregion


    #region state
    private IEnumerable<ContactDTO> contacts = [];
    private IEnumerable<CategoryDTO> categories = [];

    private string? searchInput;

    private string? toastMessage;
    private string? messageColor;
    private Guid messageId = Guid.NewGuid();
    #endregion



    #region methods
    protected override async Task OnInitializedAsync()
    {
        UserInfo? userInfo = await UserInfoHelper.GetUserInfoAsync(AuthStateTask);

        try
        {

            categories = await CategoryService.GetCategoryAsync(userInfo!.UserId);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
        }

    }

    protected override async Task OnParametersSetAsync()
    {
        UserInfo? userInfo = await UserInfoHelper.GetUserInfoAsync(AuthStateTask);

        if (!string.IsNullOrEmpty(Message))
        {
            ShowToastMessage(Message);
        }

        if (!string.IsNullOrWhiteSpace(SearchTerm))
        {
            searchInput = SearchTerm;
            CategoryId = null;
            //ToDo: Search Contacts
            contacts = await ContactService.SearchContactsAsync(SearchTerm, userInfo!.UserId);
        }
        else if (CategoryId is not null or 0)
        {
            searchInput = null;
            contacts = await ContactService.GetContactsByCategoryIdAsync(CategoryId.Value, userInfo!.UserId);
        }
        else
        {
            CategoryId = null;
            searchInput = null;

            contacts = await ContactService.GetContactsAsync(userInfo!.UserId);
        }        
    }


    // run delete method await DeleteContactAsync(int contactId, string userId)

    private async Task DeleteContact(int contactId)
    {
        try
        {

            UserInfo? userInfo = await UserInfoHelper.GetUserInfoAsync(AuthStateTask);
            await ContactService.DeleteContactAsync(contactId, userInfo!.UserId);

            contacts = await ContactService.GetContactsAsync(userInfo!.UserId);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
        }
    }


    private void HandleCategoryChanged()
    {
        Dictionary<string, object?> queryParameters = new Dictionary<string, object?>()
        {
            { nameof(CategoryId), CategoryId},
            { nameof(SearchTerm), null},
            { nameof(Message), null},
        };

        string url = Nav.GetUriWithQueryParameters(queryParameters);
        Nav.NavigateTo(url);

    }


    private void HandleSearch()
    {
        Dictionary<string, object?> queryParameters = new Dictionary<string, object?>()
        {
            { nameof(CategoryId), null},
            { nameof(SearchTerm), searchInput},
            { nameof(Message), null},
        };

        string url = Nav.GetUriWithQueryParameters(queryParameters);
        Nav.NavigateTo(url);
    }


    private void ShowToastMessage(string message)
    {
        toastMessage = message;

        if(message.ToLower().Contains("wrong") || message.ToLower().Contains("error"))
        {
            messageColor = "danger";
        }
        else
        {

            messageColor = "success";
        }

        //this will reset the toast componant
        messageId = Guid.NewGuid();
    }
    #endregion
}
